body {
	font-family:	  verdana; 
	color:		  #2f4f4f;
	background-color: #20B2AA;
	background-image: -moz-linear-gradient(top, #20B2AA 0%, #FFFFFF 175%);
	background-attachment: fixed;
	height:100%;
}
.container {
	box-shadow: 0px 0px 5px #000000;
}
.content {
	font-family:		Courier New;
	font-size:		13px;
	color:			#595959;
	background-color:	white;
	padding:		10px;
	padding-left:		60px;
	padding-right:		60px;
}
.content .article-definition {
	text-align:		center;
	font-size:		20px;
	line-height:		100px;
}
.content h1 {
	font-weight:		bold;
	font-size:		30px;
	padding-bottom:		0px;
	margin-bottom:		0px;
	padding-left:		50px;
	line-height:		35px;
}
.content h1+h2 {
	font-size:		15px;
	font-weight:		bold;
	margin-top:		0px;
	padding-top:		0px;
	line-height:		20px;
	padding-left:		50px;
}
.seperate_title_content {
	height:			70px;
}
.content .columnleft {
	float:			left;
	width:			50%;
}
.content .columnright {
	float:			right;
	width:			50%;
}
.columnspacing {
	margin:			30px;
}
.nav {
	list-style: none outside none;
	background-color: #D3D3D3;
	background-image: -moz-linear-gradient(top, #D3D3D3 0%, #A3A3A3 150%);
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color : #008080;
}

.nav li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
.nav li a {
	color:	inherit;
	display: inline;
}

.dropdown-menu {
	background-color: #D3D3D3;
	text-transform: lowercase;
	padding:5px;
}
.dropdown-menu li {
	display: block;
}
.dropdown-menu li+li {
	border-top: 1px solid #A3A3A3;
}

h3 {
	margin: 0px;
	padding: 10px 5px;
}
.columnleft div p {
	font-weight:	bold;
}
.columnleft p+p {
	font-weight:	normal;
}

.image_wrapper .image_wrapper_subtitle {
	text-align:	left;
	font-size:	12px;
	line-height:	14px;
	font-style:	italic;
	padding:	5px;
	padding-right:	30px;
}

#fullImage {
	top:	10px;
	margin-left: -30%;
	width: 60%;
}
#fullImage .close {
	position: absolute;
	right:	  20px;
	top:	  20px;
	color:	  black;
	font-size: 50px;
	opacity: 1;
	z-index:  2000;
}
#fullImage .modal-body {
	max-height:	100%;
}
div.facts {
	border:		1px solid #c0504d;
	border-left:	7px solid #c0504d;
	padding:	15px;
}
div.facts h3{
	line-height:	12px;
	font-size:	12px;
	padding:	0px;
}
div.facts table {
	font-size:	12px;
}
div.facts table tr td:first-child {
	width:		80px;
}
div.article-footer {
	text-align:center;
}
div.article-footer span {
	display:	inline-block;
	width: 		250px;
}
